.background-image {
    /* background-image: url('src/assets/bg.jpeg'); */
    background-size: cover;
    background-position: center center;
    
  }

  .mybg{
    box-shadow: 10px 10px 20px rgba(204, 204, 204, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }